h1{
    font-size: 40px;
    line-height: 64px;
}

h2{
    font-size: 40px;
    line-height: 54px;
}

h4{
    font-size: 20px;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
}

.section-p1{
    margin: 40px 80px;
}

.section-m2{
    margin: 40px 0;
}

.text-center{
    text-align: center;
}

